* text=auto

/.editorconfig text eol=lf
/.env.example text eol=lf
/.gitattributes text eol=lf
/.gitignore text eol=lf
/.nvmrc text eol=lf
/.prettierignore text eol=lf
/supabase/.gitignore text eol=lf

*.css text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.md text eol=lf whitespace=-blank-at-eol
*.mjs text eol=lf
*.patch text eol=lf whitespace=-blank-at-eol
*.sql text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.db binary
*.ico binary
*.jpeg binary
*.jpg binary
*.keystore binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.sqlite binary
*.ttf binary
*.wav binary
*.webp binary
*.woff2 binary
*.xlsx binary
*.zip binary
